h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul,
ol {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ==================================SECTION============================= */
.advertisement {
    padding: 80px 10px;
    background: #fbfbfb;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}
.ad-text {
    padding: 0 10px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
}
.ad-text-green {
    padding: 0 10px;
    color: #FBFBFB;
    background-color: #576F35;
    border-radius: 12px;
}
@media screen and (min-width: 375px) {

    .container {
        max-width: 375px;
    }
}
@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }
    .advertisement {
        padding: 100px 16px;
    }
    .ad-text {
        font-size: 64px;
        line-height: 70px;
    }
    .ad-text-green {
        padding: 8px 16px;
    }
}
@media screen and (min-width: 1280px) {

    .container {
        max-width: 1280px;
    }
    .advertisement {
        display: flex;
        padding: 100px;
    }

    .ad-text {
        font-size: 76px;
        line-height: 80px;
    }

    .ad-text-green {
        display: inline-block;
        padding: 0px 13px;
    }
}